<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <ul>
        <% tickets.forEach((ticket, index) => { %>
            <li>
                <h2 class="ticket-subject"><%=ticket.subject%></h2>
                <article class="ticket-details">
                    <p>Status: <%= ticket.status%></p>
                    <p>Description: <%= ticket.description%></p>
                    <footer>
                        <% ticket.tags.forEach((tag) => { %>
                            <a href="#"><%=tag%></a>
                        <% }) %>
                    </footer>
                </article>
            </li>
        <% }) %>
    </ul>
    <% if(previousPage >= 1){ %>
        <a href= <%= `/tickets?page=${previousPage}` %>>previous</a>
    <% } %>

    <% if(nextPage > 1){ %>
        <a href= <%= `/tickets?page=${nextPage}` %>>next</a>
    <% } %>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/ticket.js"></script>
</html>
